{% if messages %}
    {% for message in messages %}
        <div id='message' class="container">
            <div class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
                <button type='button' data-dismiss="alert" class="close"><span>&times;</span>
                </button>
                <strong>
                    {% if message.LEVEL == 40 %}
                         error :
                    {% else %}
                        {{ message.tags }} :
                    {% endif %}
                </strong>
                {{ message }}
            </div>
        </div>

    {% endfor %}
{% endif %}